In [5]:
import xarray as xr
import numpy as np
import pandas as pd

In [6]:
ocean_forcing_dir = r'/users/pvankatw/data/pvankatw/pvankatw-bfoxkemp/GHub-ISMIP6-Forcing/AIS/Ocean_Forcing/miroc-esm-chem_rcp8.5/1995-2100/'
ocean_forcing_path = f"{ocean_forcing_dir}/MIROC-ESM-CHEM_salinity_8km_x_60m.nc"
data = xr.open_dataset(ocean_forcing_path)

In [7]:
data

<xarray.Dataset>
Dimensions:   (x: 761, y: 761, z: 30, nbounds: 2, time: 106)
Coordinates:
  * x         (x) float64 -3.04e+06 -3.032e+06 -3.024e+06 ... 3.032e+06 3.04e+06
  * y         (y) float64 -3.04e+06 -3.032e+06 -3.024e+06 ... 3.032e+06 3.04e+06
    lat       (y, x) float64 ...
    lon       (y, x) float64 ...
  * z         (z) float64 -30.0 -90.0 -150.0 ... -1.65e+03 -1.71e+03 -1.77e+03
    z_bnds    (z, nbounds) float64 ...
  * time      (time) datetime64[ns] 1995-01-01 1996-01-01 ... 2100-01-01
Dimensions without coordinates: nbounds
Data variables:
    salinity  (time, z, y, x) float32 ...

In [8]:
data = data.drop(labels=['z_bnds',])

In [9]:
path = r"/users/pvankatw/data/pvankatw/pvankatw-bfoxkemp/GHub-ISMIP6-Forcing/AIS/ISMIP6_sectors/sectors_8km.nc"
sectors = xr.open_dataset(path)
sectors_df = sectors.to_dataframe()
sectors_df

                              lon        lat  sectors  regions mapping
y          x
-3040000.0 -3040000.0 -135.000000 -51.850319      3.0      1.0     b''
           -3032000.0 -135.075485 -51.896984      3.0      1.0     b''
           -3024000.0 -135.151169 -51.943600      3.0      1.0     b''
           -3016000.0 -135.227066 -51.990166      3.0      1.0     b''
           -3008000.0 -135.303146 -52.036682      3.0      1.0     b''
...                           ...        ...      ...      ...     ...
 3040000.0  3008000.0   44.696850 -52.036682     13.0      2.0     b''
            3016000.0   44.772938 -51.990166     13.0      2.0     b''
            3024000.0   44.848824 -51.943600     13.0      2.0     b''
            3032000.0   44.924511 -51.896984     13.0      2.0     b''
            3040000.0   45.000000 -51.850319     13.0      2.0     b''

[579121 rows x 5 columns]

In [10]:
data_df = data.mean(dim='z', skipna=True).to_dataframe()
data_df

                                        lat    lon  salinity
x          y          time
-3040000.0 -3040000.0 1995-01-01 -51.849567 -135.0       NaN
                      1996-01-01 -51.849567 -135.0       NaN
                      1997-01-01 -51.849567 -135.0       NaN
                      1998-01-01 -51.849567 -135.0       NaN
                      1999-01-01 -51.849567 -135.0       NaN
...                                     ...    ...       ...
 3040000.0  3040000.0 2096-01-01 -51.849567   45.0       NaN
                      2097-01-01 -51.849567   45.0       NaN
                      2098-01-01 -51.849567   45.0       NaN
                      2099-01-01 -51.849567   45.0       NaN
                      2100-01-01 -51.849567   45.0       NaN

[61386826 rows x 3 columns]

In [11]:
data_df = data.mean(dim='z', skipna=True).to_dataframe()
data_df = data_df.reset_index(level='time',)
data_df

                            time        lat    lon  salinity
x          y
-3040000.0 -3040000.0 1995-01-01 -51.849567 -135.0       NaN
           -3040000.0 1996-01-01 -51.849567 -135.0       NaN
           -3040000.0 1997-01-01 -51.849567 -135.0       NaN
           -3040000.0 1998-01-01 -51.849567 -135.0       NaN
           -3040000.0 1999-01-01 -51.849567 -135.0       NaN
...                          ...        ...    ...       ...
 3040000.0  3040000.0 2096-01-01 -51.849567   45.0       NaN
            3040000.0 2097-01-01 -51.849567   45.0       NaN
            3040000.0 2098-01-01 -51.849567   45.0       NaN
            3040000.0 2099-01-01 -51.849567   45.0       NaN
            3040000.0 2100-01-01 -51.849567   45.0       NaN

[61386826 rows x 4 columns]

In [12]:
merged = pd.merge(data_df, sectors_df, left_index=True, right_index=True)
merged['year'] = merged['time'].apply(lambda x: int(x.year))
merged = merged.drop(columns=['time'])

In [13]:
merged

                           lat_x  lon_x  salinity  lon_y      lat_y  sectors  \
x          y
-3040000.0 -3040000.0 -51.849567 -135.0       NaN -135.0 -51.850319      3.0
           -3040000.0 -51.849567 -135.0       NaN -135.0 -51.850319      3.0
           -3040000.0 -51.849567 -135.0       NaN -135.0 -51.850319      3.0
           -3040000.0 -51.849567 -135.0       NaN -135.0 -51.850319      3.0
           -3040000.0 -51.849567 -135.0       NaN -135.0 -51.850319      3.0
...                          ...    ...       ...    ...        ...      ...
 3040000.0  3040000.0 -51.849567   45.0       NaN   45.0 -51.850319     13.0
            3040000.0 -51.849567   45.0       NaN   45.0 -51.850319     13.0
            3040000.0 -51.849567   45.0       NaN   45.0 -51.850319     13.0
            3040000.0 -51.849567   45.0       NaN   45.0 -51.850319     13.0
            3040000.0 -51.849567   45.0       NaN   45.0 -51.850319     13.0

                       regions mapping  year
x          y
-3040000.0 -3040000.0      1.0     b''  1995
           -3040000.0      1.0     b''  1996
           -3040000.0      1.0     b''  1997
           -3040000.0      1.0     b''  1998
           -3040000.0      1.0     b''  1999
...                        ...     ...   ...
 3040000.0  3040000.0      2.0     b''  2096
            3040000.0      2.0     b''  2097
            3040000.0      2.0     b''  2098
            3040000.0      2.0     b''  2099
            3040000.0      2.0     b''  2100

[61386826 rows x 9 columns]

In [14]:
grouped = merged.groupby(['sectors', 'year']).mean()
grouped['model'] = 'cesm2_ssp585'

/tmp/ipykernel_222681/905516296.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = merged.groupby(['sectors', 'year']).mean()

In [15]:
grouped[['salinity', 'regions', 'model']]

               salinity  regions         model
sectors year
1.0     1995  34.536545      1.0  cesm2_ssp585
        1996  34.533863      1.0  cesm2_ssp585
        1997  34.535770      1.0  cesm2_ssp585
        1998  34.533470      1.0  cesm2_ssp585
        1999  34.534000      1.0  cesm2_ssp585
...                 ...      ...           ...
18.0    2096  34.141209      3.0  cesm2_ssp585
        2097  34.105389      3.0  cesm2_ssp585
        2098  34.086452      3.0  cesm2_ssp585
        2099  34.081951      3.0  cesm2_ssp585
        2100  34.070702      3.0  cesm2_ssp585

[1908 rows x 3 columns]